
<!-- If there are products in the basket -->
<ng-container *ngIf="products.length!=0">
   <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="card" style="width: 22rem;">

                    <div class="card-body">
                        <h3 class="card-title"><b>Order Summary</b></h3>
                        <br>
                        <div class="row">
                            <span class="col-sm-6"><b>Grand Total:</b></span>
                            <span style="direction: rtl; font-size: larger;" class="col-sm-6"><b>${{grandTotal}}</b></span>
                        </div>
                        <div class="row">
                            <span class="col-sm-7"><b>Shipping value:</b></span>
                            <span class="col-sm-5" style="direction: rtl; font-size: larger;"><b >${{shippingValue}}</b></span>
                        </div>
                        <hr>
                        <div class="row">
                            <span class="col-sm-7"><h5><b>Final price:</b></h5></span>
                            <span class="col-sm-5" style="direction: rtl; font-size: larger;"><h5><b >${{shippingValue+grandTotal}}</b></h5></span>
                        </div>

                        <div class="check-btn">
                            <button type="button" class="btn btn-secondary btn-lg" style="margin: 25px 0 25px;">Chackout now</button>
                        </div>

                        <div>
                            <h4><b>We accept</b></h4>
                            <div class="bank-img">
                                <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/15282733431754785346.webp" class="c-img-con-m imgPay">
                                <img src="//img.ltwebstatic.com/images3_pi/2021/03/09/161528368123dd7a35ad8708b0dfc74b3630526891.webp" class="c-img-con-m imgPay">
                                <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/15282732803587566708.webp" class="c-img-con-m imgPay">
                                <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/15282732983375743706.webp" class="c-img-con-m imgPay">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Displaying products in the basket -->
            <div class="col-sm-9">
                <div class="card-table">
                    <div class="div cart-product">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Product Name</th>
                                    <th>Product Item</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of products;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{item.title}}</td>
                                    <td><img style="width: 120px;" src="{{item.image}}" alt=""></td>
                                    <td style="width: 25%;">{{item.description}}</td>
                                    <td style="width: 12%;">{{item.price}}</td>
                                    <td style="width: 12%;">
                                        <button type="button" class="btnQuantity" (click)=incQnt(item)><i class="fa-solid fa-plus"></i></button>
                                        <span>{{item.Quantity}}</span>
                                        <button type="button" class="btnQuantity" (click)=decQnt(item)><i class="fa-solid fa-minus"></i></button>
                                    </td>
                                    <th style="width: 12%;">{{item.Total}}</th>
                                    <td>
                                        <button (click)=removeItem(item) class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                                    </td>

                                </tr>
                                <tr>
                                    <td colspan="5"></td>
                                    <td ><button (click)=emtycart() class="btn btn-outline-danger">Empty Cart</button></td>
                                    <td ><button routerLink="/product" class="btn btn-outline-dark">Shop More</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>




<!-- If there are no products in the basket -->
<ng-container *ngIf="products.length==0">
    <div class="div container">
        <div class="card">
            <h5 class="card-titel">My Cart</h5>
        </div>
        <div class="center">
            <img src="//sheinsz.ltwebstatic.com/she_dist/images/shoppingcart-empty-50eb82fb72.png" alt="">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button routerLink="/product" class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</ng-container>
