
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div routerLink="/product">
          <i class="fa-solid fa-truck-fast" style="font-size: 40px;cursor:  pointer;"></i>
        </div>
        <h5 style="margin-left: 15px;">Flipkart</h5>
        <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search..." [(ngModel)]=searchTerm (keyup)="search($event)" aria-label="Search">
            <span class=" fas fa-search search-icon"></span>
        </div>
      </div>
      <!-- Right elements -->
      <div routerLink="cart" class="d-flex align-items-center">
        <!-- Icon -->
        <i  style="font-size: 30px;cursor:  pointer;" class="fas fa-shopping-cart"></i>
        <div  class="badge bg-danger">{{totalItem}}</div>

      </div>
    </div>
  </nav>

